<!--<!doctype html>-->
<!--<html class="no-js">-->
<!--<head>-->
	<!--<meta charset="utf-8">-->
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
	<!--<title>FYP</title>-->
	<!--<meta name="description" content="">-->
	<!--<meta name="viewport" content="width=device-width">-->

	<!--&lt;!&ndash; build:css assets/styles/main.css &ndash;&gt;-->
	<!-- -->
	<!--&lt;!&ndash; endbuild &ndash;&gt;-->

<!--</head>-->
<!--<body ng-app="App">-->

<!--<div ui-view="navbar" ng-cloak=""></div>-->
<!--<div class="container">-->
	<!--<div class="" ui-view="content"></div>-->

	<!--<div class="footer">-->
		<!--<p translate="footer">This is your footer</p>-->
	<!--</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->






<!--<!DOCTYPE html>-->
<!--<html ng-app="App">-->
<!--<body>-->
<!--<div ng-controller="meetupsController">-->
	<!--<h1>There are {{ meetups.length }} meetings</h1>-->
	<!--<ul>-->
		<!--<li ng-repeat="meetup in meetups">{{meetup.name}}</li>-->
	<!--</ul>-->

	<!--<form ng-submit="createMeetup()">-->
	<!--<input type="text" ng-model="meetupName" />-->
	<!--<button type="submit">Add</button>-->

	<!--</form>-->

<!--</div>-->



<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>-->
<!--<script type="text/javascript" src="/js/app.js"></script>-->
<!--<script type="text/javascript" src="/js/controllers/meetups_controller.js"></script>-->
<!--</body>-->
<!--</html>-->